<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.fontfont.colorfont.auto_layer_include_baseglyph</key>
	<false/>
	<key>com.fontfont.colorfont.auto_layer_regex</key>
	<string>\.alt[0-9]{3}$</string>
	<key>com.fontfont.colorfont.bitmap_sizes</key>
	<array>
		<integer>64</integer>
	</array>
	<key>com.fontfont.colorfont.color</key>
	<string>#000000</string>
	<key>com.fontfont.colorfont.colorbg</key>
	<string>#ffffff</string>
	<key>com.fontfont.colorfont.colorpalette</key>
	<array>
		<dict>
			<key>0</key>
			<string>#ff4f0a99</string>
			<key>1</key>
			<string>#00baff99</string>
			<key>2</key>
			<string>#00e36199</string>
			<key>3</key>
			<string>#7241de99</string>
			<key>4</key>
			<string>#ff41ad99</string>
		</dict>
		<dict>
			<key>0</key>
			<string>#341B0099</string>
			<key>1</key>
			<string>#23195A99</string>
			<key>2</key>
			<string>#52003499</string>
			<key>3</key>
			<string>#00411699</string>
			<key>4</key>
			<string>#001C5099</string>
		</dict>
		<dict>
			<key>0</key>
			<string>#00000099</string>
			<key>1</key>
			<string>#00000099</string>
			<key>2</key>
			<string>#00000099</string>
			<key>3</key>
			<string>#00000099</string>
			<key>4</key>
			<string>#00000099</string>
		</dict>
	</array>
	<key>com.fontfont.colorfont.prefer_placed_images</key>
	<false/>
	<key>com.fontfont.colorfont.write_cbdt</key>
	<false/>
	<key>com.fontfont.colorfont.write_colr</key>
	<true/>
	<key>com.fontfont.colorfont.write_sbix</key>
	<integer>1</integer>
	<key>com.fontfont.colorfont.write_svg</key>
	<true/>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.8</real>
		<real>0.2</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/stephennixon/Dropbox/KABK_netherlands/type_media/000-casual-mono/02-color-font-test/exports/TestColorFont.otf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>background</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>type</key>
			<string>cannedDesign</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>a.layer00</string>
		<string>g.layer00</string>
		<string>a.layer01</string>
		<string>g.layer01</string>
		<string>a.layer02</string>
		<string>g.layer02</string>
		<string>a.layer03</string>
		<string>g.layer03</string>
		<string>a.layer04</string>
		<string>g.layer04</string>
		<string>g.layer05</string>
		<string>g.layer06</string>
	</array>
</dict>
</plist>
